<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Guim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Guim.Properties.Settings>
            <setting name="coins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bitweb pool.rplant.xyz|BTE|stratum+tcp://stratum-eu.rplant.xyz:17065|yescryptR16</string>
                        <string>Raptoreum pool.rplant.xyz|RTM|stratum+tcp://stratum-eu.rplant.xyz:7056|gr</string>
                        <string>Babacoin pool.rplant.xyz|BBC|stratum+tcp://stratum-eu.rplant.xyz:17082|gr</string>
                        <string>Coinname pool.rplant.xyz|TICKER|stratum+tcp://stratum-eu.rplant.xyz:PORT|ALGO</string>
                        <string>Coinname pool.rplant.xyz|TICKER|stratum+tcp://stratum-eu.rplant.xyz:PORT|ALGO</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="brandcoin" serializeAs="String">
                <value>for pool.rplant.xyz</value>
            </setting>            
        </Guim.Properties.Settings>
    </applicationSettings>
</configuration>
