<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Guim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Guim.Properties.Settings>
            <setting name="coins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bitweb pool.rplant.xyz|BTE|stratum+tcp://stratum-eu.rplant.xyz:17065|yescryptR16</string>
                        <string>Raptoreum pool.rplant.xyz|RTM|stratum+tcp://stratum-eu.rplant.xyz:7056|gr</string>
                        <string>Babacoin pool.rplant.xyz|BBC|stratum+tcp://stratum-eu.rplant.xyz:17082|gr</string>
                        <string>UraniumX pool.rplant.xyz|URX|stratum+tcp://stratum-eu.rplant.xyz:3361|yespowerurx</string>
                        <string>Sugarchain pool.rplant.xyz|SUGAR|stratum+tcp://stratum-eu.rplant.xyz:7042|yespowersugar</string>
                        <string>Yenten pool.rplant.xyz|YTN|stratum+tcp://stratum-eu.rplant.xyz:3382|yespowerr16</string>
                        <string>Volkshash pool.rplant.xyz|VHH|stratum+tcp://stratum-eu.rplant.xyz:7079|yespower</string>
                        <string>Bellcoin pool.rplant.xyz|BELL|stratum+tcp://stratum-eu.rplant.xyz:3340|yespower</string>
                        <string>SprintPay pool.rplant.xyz|SPRX|stratum+tcp://stratum-eu.rplant.xyz:7052|yespower</string>
                        <string>Whive pool.rplant.xyz|WHIVE|stratum+tcp://stratum-eu.rplant.xyz:7070|yespower</string>
                        <string>Documentchain pool.rplant.xyz|DMS|stratum+tcp://stratum-eu.rplant.xyz:7047|yescryptr32</string>
                        <string>Bitweb pool.rplant.xyz|BTE|stratum+tcp://stratum-eu.rplant.xyz:7065|yescryptr16</string>
                        <string>GoldCash pool.rplant.xyz|GOLD|stratum+tcp://stratum-eu.rplant.xyz:7057|yescryptr16</string>
                        <string>Qogecoin pool.rplant.xyz|QOGE|stratum+tcp://stratum-eu.rplant.xyz:7055|yescryptr16</string>
                        <string>Fennec pool.rplant.xyz|FNNC|stratum+tcp://stratum-eu.rplant.xyz:7044|YescryptR16</string>
                        <string>MicroBitcoin pool.rplant.xyz|MBC|stratum+tcp://stratum-eu.rplant.xyz:7022|power2b</string>
                        <string>Avian pool.rplant.xyz|AVN|stratum+tcp://stratum-eu.rplant.xyz:7068|minotaurx</string>
                        <string>Bitoreum pool.rplant.xyz|BTRM|stratum+tcp://stratum-eu.rplant.xyz:7075|gr</string>
                        <string>CoinTAFT pool.rplant.xyz|TAFT|stratum+tcp://stratum-eu.rplant.xyz:7094|gr</string>
                        <string>Tidecoin pool.rplant.xyz|TDC|stratum+tcp://stratum-eu.rplant.xyz:7059|yespowertide</string>
                        <string>PulsarCoin pool.rplant.xyz|PLSR|stratum+tcp://stratum-eu.rplant.xyz:7063|minotaurx</string>
                        <string>Yerbas pool.rplant.xyz|YERB|stratum+tcp://stratum-eu.rplant.xyz:7054|gr</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="brandcoin" serializeAs="String">
                <value>for pool.rplant.xyz</value>
            </setting>            
        </Guim.Properties.Settings>
    </applicationSettings>
</configuration>
